{% capture imgMarkup %}
  <noscript>
      <img src="{{ figure }}" alt="{{ alt }}">
  </noscript>
  <img
    data-src="{{ figure }}"
    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
    alt="{{ alt }}"
    class="lazyload"
  >
{% endcapture %}

<figure>
{%- if linkHd -%}
  <a href="{{ figure | hdify }}" class="post__media-link">
    {{ imgMarkup }}
  </a>
{%- elsif linkExternal -%}
  <a href="{{ linkExternal }}" class="post__media-link">
    {{ imgMarkup }}
  </a>
{%- else -%}
  {{ imgMarkup }}
{%- endif -%}
{%- if caption -%}
  <figcaption>{{ caption | markdownify }}</figcaption>
{%- endif -%}
</figure>
