<ol class="posts">
{% assign postsItems = items | reverse %}
{%- for item in postsItems limit: itemsLimit -%}
  <li class="posts__item">
    <article>
      <header class="posts__header">
        <h3 class="posts__title">
          <a href="{{ item.url | permalink }}">{{ item.data.title | markdownify: 'inline' }}</a>
        </h3>
        <time datetime="{{ item.data.date | date: dates.iso }}" class="posts__meta">{{ item.data.date | date: dates.long }}</time>
      </header>
      {%- if item.data.summary -%}
        <p class="posts__summary">{{ item.data.summary | markdownify: 'inline' }}</p>
      {%- endif -%}
    </article>
  </li>
{%- endfor -%}
</ol>
