{%- capture pageCanonicalUrl -%}{% if canonical.url %}{{ canonical.url }}{% else %}{{ page.url | prepend: app.url | permalink }}{% endif %}{%- endcapture -%}

{%- capture pageTitle -%}{% if type != 'homepage' %}{{ title | markdownify: 'inline' | strip_html }} | {% endif %}{{ app.title }}{%- endcapture -%}

{%- capture pageSummary -%}{% if summary %}{{ summary | markdownify | strip_html | strip_newlines | strip }}{% else %}{{ app.description }}{% endif %}{%- endcapture -%}

<!doctype html>
<html lang="en" class="text-lg sm:text-xl md:text-2xl no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if hidden == true %}
      <meta name="robots" content="noindex, nofollow">
    {% else %}
      <link rel="canonical" href="{{ pageCanonicalUrl }}">
    {% endif %}

    <title>{{ pageTitle }}</title>

    <meta name="description" content="{{ pageSummary }}">

    <!-- meta: me -->
    <meta name="author" content="Francesco Schwarz">
    <link rel="me" href="mailto:francesco.schwarz@posteo.de">
    <link rel="me" href="https://twitter.com/isellsoap">
    <link rel="me" href="https://www.xing.com/profile/Francesco_Schwarz">
    <link rel="me" href="https://www.linkedin.com/in/francescoschwarz">
    <link rel="me" href="https://github.com/isellsoap">

    <!-- meta: twitter -->
    <meta name="twitter:site" content="@isellsoap">
    <meta name="twitter:creator" content="@isellsoap">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageSummary }}">
    {%- if type == 'post' and image.url -%}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ image.url | remove: '.jpg' }}-960w.jpg">
      <meta name="twitter:image:alt" content="{{ image.alt }}">
    {%- else -%}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="/images/app.jpg">
      <meta name="twitter:image:alt" content="Photo of Francesco Schwarz">
    {%- endif -%}

    <!-- meta: google -->
    <link rel="author" href="/">
    <link rel="publisher" href="/">

    <!-- meta: open graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageSummary }}">
    <meta property="og:url" content="{{ pageCanonicalUrl }}">
    {%- if type == 'post' and image.url -%}
      <meta name="og:image" content="{{ image.url | remove: '.jpg' }}-960w.jpg">
      <meta name="og:image:alt" content="{{ image.alt }}">
    {%- else -%}
      <meta name="og:image" content="/images/app.jpg">
      <meta name="og:image:alt" content="Photo of Francesco Schwarz">
    {%- endif -%}

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Francesco Schwarz (RSS Atom Feed)">
    <link rel="alternate" href="/feed.json" type="application/json" title="Francesco Schwarz (JSON Feed)">

    <link rel="manifest" href="/app.webmanifest">

    <link rel="apple-touch-icon" href="{{ app.icon }}" type="image/jpg">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% include "hashed-assets/scripts-head.liquid" %}
    {% include "hashed-assets/styles.liquid" %}
  </head>
  <body class="bg-gray-200 text-gray-800 font-sans antialiased leading-normal h-card">
    <header role="banner" class="py-3 md:py-6">
      <div class="m-auto max-w-xl lg:max-w-2xl px-3 sm:px-6 lg:pl-12 flex items-center">
        <img src="/images/app.jpg" class="h-16 w-16 lg:h-24 lg:w-24 shadow-md rounded-full u-photo" alt="Francesco Schwarz">
        <div class="flex-grow ml-3 md:ml-6">
          <h1 class="text-lg mb-1 font-semibold leading-tight p-name">
            <a href="/" class="text-inherit hover:text-gray-900 focus:text-gray-900 no-underline u-url" rel="me">Francesco Schwarz</a>
          </h1>
          <nav role="navigation">
            <ul class="list-none m-0 flex flex-wrap text-gray-600">
              {% for item in navigation.primary %}
                <li class="{% unless forloop.last %}mr-2 md:mr-3 lg:mr-4{% endunless%}">
                  <a href="{{ item.url }}">{{ item.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main role="main" class="block">
      <div class="m-auto max-w-xl lg:max-w-2xl pt-6 p-3 sm:p-6 lg:pl-12 lg:pr-16 bg-white">
        {{ content }}
      </div>
    </main>

    <footer role="contentinfo" class="py-3 md:py-6 text-gray-600">
      <div class="m-auto max-w-xl lg:max-w-2xl px-3 sm:px-6 lg:pl-12 footer-inner">
        <ul class="list-none flex flex-wrap ml-0">
          {% for item in navigation.secondary %}
            <li class="{% unless forloop.last %}mr-3 lg:mr-4{% endunless%}">
              <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endfor %}
        </ul>
        <p class="italic p-note">I’m Francesco Schwarz, a Frontend Developer based in Munich, Germany. My passion is the web, and I love to think and talk about HTML, CSS, and JavaScript (in that order). Get in touch with me via <a href="https://twitter.com/isellsoap">Twitter</a>, <a href="https://github.com/isellsoap">GitHub</a>, <a href="https://www.linkedin.com/in/francescoschwarz">LinkedIn</a> or <a class="u-email" href="mailto:francesco.schwarz@posteo.de">email</a>.</p>
        <p class="mb-0">This is the very bottom of the website. <span class="px-1">🙌</span> Thanks for stopping by!</p>
      </div>
    </footer>
  </body>
</html>
