{%- capture pageCanonicalUrl -%}{% if canonical.url %}{{ canonical.url }}{% else %}{{ page.url | prepend: app.url | permalink }}{% endif %}{%- endcapture -%}

{%- capture pageTitle -%}{% if type != 'homepage' %}{{ title | markdownify: 'inline' | strip_html }} | {% endif %}{{ app.title }}{%- endcapture -%}

{%- capture pageSummary -%}{% if summary %}{{ summary | markdownify | strip_html | strip_newlines | strip }}{% else %}{{ app.description }}{% endif %}{%- endcapture -%}

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if hidden == true %}
      <meta name="robots" content="noindex, nofollow">
    {% else %}
      <link rel="canonical" href="{{ pageCanonicalUrl }}">
    {% endif %}

    <title>{{ pageTitle }}</title>

    <meta name="description" content="{{ pageSummary }}">

    <!-- meta: me -->
    <meta name="author" content="Francesco Schwarz">
    <link rel="me" href="mailto:francesco.schwarz@posteo.de">
    <link rel="me" href="https://mastodon.social/@isellsoap">
    <link rel="me" href="https://twitter.com/isellsoap">
    <link rel="me" href="https://www.xing.com/profile/Francesco_Schwarz">
    <link rel="me" href="https://www.linkedin.com/in/francescoschwarz">
    <link rel="me" href="https://github.com/isellsoap">

    <!-- meta: twitter -->
    <meta name="twitter:site" content="@isellsoap">
    <meta name="twitter:creator" content="@isellsoap">
    <meta name="twitter:title" content="{{ pageTitle }}">
    <meta name="twitter:description" content="{{ pageSummary }}">
    {%- if type == 'post' and image.url -%}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ image.url | remove: '.jpg' | prepend: app.url }}-960w.jpg">
      <meta name="twitter:image:alt" content="{{ image.alt }}">
    {%- else -%}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="{{ '/images/app.jpg' | prepend: app.url }}">
      <meta name="twitter:image:alt" content="Photo of Francesco Schwarz">
    {%- endif -%}

    <!-- meta: google -->
    <link rel="author" href="/">
    <link rel="publisher" href="/">

    <!-- meta: open graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageSummary }}">
    <meta property="og:url" content="{{ pageCanonicalUrl }}">
    {%- if type == 'post' and image.url -%}
      <meta name="og:image" content="{{ image.url | remove: '.jpg' | prepend: app.url }}-960w.jpg">
      <meta name="og:image:alt" content="{{ image.alt }}">
    {%- else -%}
      <meta name="og:image" content="{{ '/images/app.jpg' | prepend: app.url }}">
      <meta name="og:image:alt" content="Photo of Francesco Schwarz">
    {%- endif -%}

    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Francesco Schwarz (RSS Atom Feed)">
    <link rel="alternate" href="/feed.json" type="application/json" title="Francesco Schwarz (JSON Feed)">

    <link rel="manifest" href="/app.webmanifest">

    <link rel="apple-touch-icon" href="{{ app.icon }}" type="image/jpg">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% include "hashed-assets/scripts-head.liquid" %}
    {% include "hashed-assets/styles.liquid" %}
  </head>
  <body class="h-card">
    <header role="banner" class="main-header">
      <div class="content-wrapper main-header__inner">
        <h1 class="p-name">
          <a href="/" class="main-header__title-link u-url" rel="me">Francesco Schwarz</a>
        </h1>
        <nav role="navigation">
          <ul class="main-header__nav">
            {% for item in navigation.primary %}
              <li class="main-header__nav-item">
                <a href="{{ item.url }}" class="main-header__nav-link">{{ item.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main role="main">
      <div class="content-wrapper">
          {{ content }}
      </div>
    </main>

    <footer role="contentinfo" class="main-footer">
      <div class="content-wrapper">
        <div class="main-footer__note{% if type == 'homepage' or page.url == '/about/' %} main-footer__note_hidden{% endif%} clearfix">
          <div class="main-footer__note-inner">
            {% if type != 'homepage' %}<img src="/images/app.jpg" class="main-footer__img u-photo" alt="Francesco Schwarz">{% endif %}
            <p class="main-footer__note-content p-note">I’m Francesco Schwarz, a Frontend Developer based in Munich, Germany. I’m passionate about the web and its technologies, but what I love most is to build experiences for people on the web that are responsive, fast, and accessible. Get in touch with me via <a href="https://mastodon.social/@isellsoap">Mastodon</a>, <a href="https://twitter.com/isellsoap">Twitter</a>, <a href="https://github.com/isellsoap">GitHub</a>, <a href="https://www.linkedin.com/in/francescoschwarz">LinkedIn</a> or <a class="u-email" href="mailto:francesco.schwarz@posteo.de">email</a>.</p>
          </div>
        </div>
        <div class="main-footer__end">
        <ul class="main-footer__nav">
          {% for item in navigation.secondary %}
            <li class="main-footer__nav-item">
              <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endfor %}
        </ul>
        <p>This is the very bottom of the website. <span class="main-footer__emoji">🙌</span> Thanks for stopping by!</p>
      </div>
    </footer>
  </body>
</html>
