---
layout: layout/base
---
<article itemscope itemtype="https://schema.org/BlogPosting" class="h-entry">
  <link itemprop="mainEntityOfPage" href="{{ page.url | permalink }}">
  <header class="leading-tight flex flex-col">
    {% include 'content-heading.liquid' %}
    <ul class="list-none ml-0 flex">
      <li class="{%- if updated -%}mr-8 sm:mr-12{%- endif -%}">
        <span class="text-xs text-gray-500 block">Published:</span>
        <time itemprop="dateCreated datePublished" datetime="{{ date | date: dates.iso }}" class="block text-sm text-gray-600 dt-published">
          <a href="{{ page.url | permalink }}" class="text-inherit no-underline u-url u-uid" title="Permalink" itemprop="url">
            {%- if updated -%}
              {{ date | date: dates.long | handleShortMonthName }}
            {% else %}
              {{ date | date: dates.long }}
            {%- endif -%}
          </a>
        </time>
      </li>
      {%- if updated -%}
        <li>
          <span class="text-xs text-gray-500 block">Updated:</span>
          <time itemprop="dateModified" datetime="{{ updated | date: dates.iso }}" class="block text-sm text-gray-600">{{ updated | date: dates.long | handleShortMonthName }}</time>
        </li>
      {%- endif -%}
      <!-- hidden, because we want this info to be available only for search engines, microformat scrapers, etc. -->
      <li class="hidden">
        <span>Written by:</span>
        <a href="/" class="p-author h-card" rel="author" itemprop="author publisher" itemscope itemtype="https://schema.org/Person">
          <img src="/images/app.jpg" class="u-photo" alt="">
          <span itemprop="name">Francesco Schwarz</span>
        </a>
      </li>
    </ul>
    {%- if image.url -%}
      <noscript>
        <figure class="relative ratio-21-9 mb-4 order-first max-w-xl -mt-6 -mx-3 sm:-mx-6 lg:-ml-12 lg:mr-0 lg:max-w-none">
        <picture class="absolute inset-0">
          <img
            class="block w-full u-featured"
            alt="{{ image.alt }}"
            src="{{ image.url | remove: '.jpg' }}-960w.jpg"
            itemprop="image"
          >
        </picture>
      </figure>
      </noscript>
      <figure class="relative ratio-21-9 mb-4 order-first max-w-xl -mt-6 -mx-3 sm:-mx-6 lg:-ml-12 lg:mr-0 lg:max-w-none">
        <picture class="absolute inset-0">
          <img
            class="lazyload block w-full u-featured"
            alt="{{ image.alt }}"
            data-sizes="(min-width: 1024px) 912px, 100vw"
            data-srcset="{{ image.url | remove: '.jpg' }}-320w.jpg 320w, {{ image.url | remove: '.jpg' }}-640w.jpg 640w, {{ image.url | remove: '.jpg' }}-960w.jpg 960w, {{ image.url | remove: '.jpg' }}-1280w.jpg 1280w, {{ image.url | remove: '.jpg' }}-1600w.jpg 1600w, {{ image.url | remove: '.jpg' }}-1920w.jpg 1920w"
            data-src="{{ image.url | remove: '.jpg' }}-960w.jpg"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            itemprop="image"
          >
        </picture>
      </figure>
    {%- endif -%}
  </header>

  {%- if series == "today-i-learned" -%}
    <aside class="italic">
      <p><span class="not-italic">☝️</span> This post is part of my “Today I learned” series in which I share all my everyday learnings, discoveries, and quick tips.</p>
    </aside>
  {%- endif -%}

  <div itemprop="articleBody" class="e-content">
    {{ content }}
  </div>

  <hr class="mt-16">
  <ul class="list-none italic ml-0 mb-3 flex flex-col lg:flex-row lg:mb-0">
    <li class="flex items-center mb-2 lg:mb-0 lg:mr-6">
      <svg class="mr-2 ml-1 fill-rss w-5 h-5 self-start lg:ml-0" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" aria-hidden><path d="M38.4 48C38.4 27 21 9.6 0 9.6V0c26.3 0 48 21.7 48 48h-9.6zM6.6 34.8c3.6 0 6.6 3 6.6 6.6 0 3.6-3 6.6-6.6 6.6C3 48 0 45 0 41.4c0-3.6 3-6.6 6.6-6.6zM31.8 48h-9.3c0-12.3-10.2-22.5-22.5-22.5v-9.3c17.5 0 31.8 14.3 31.8 31.8z"/></svg>
      <a href="/feed.xml">Subscribe to feed</a>
    </li>
    {%- if twitterTimeline -%}
      <li class="flex items-center mb-2 lg:mb-0 lg:mr-6">
        <svg class="mr-2 fill-twitter w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32" aria-hidden><path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6a192.38 192.38 0 0 1-61.5 23.5A96.7 96.7 0 0 0 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8a96.97 96.97 0 0 0 90.5 67.3 194.11 194.11 0 0 1-143.4 40.1C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/></svg>
        <a href="https://mobile.twitter.com/isellsoap/timelines/{{ twitterTimeline }}">Read Twitter reactions</a>
      </li>
    {%- endif -%}
    <li class="flex items-center">
      <svg class="mr-2 fill-github w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="32" height="32" aria-hidden><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/></svg>
      <a href="https://github.com/isellsoap/francescoschwarz.com/tree/master/{{ page.inputPath }}">Edit <span class="visually-hidden">this page</span> on GitHub</a>
    </li>
  </ul>
</article>
